body{
	background: #D8D9DA;
}

label{
	font-family: "Raleway Thin", sans-serif;
	font-size: 11pt;
	letter-spacing: 1.5pt;
}

.p1{
	margin-right: 150px;
	text-align: center;
	font-size: 20pt;
	color: #1C6758;
	font-family: "Raleway Thin", sans-serif;
}
.p2{
	margin-right: 150px;
	text-align: center;
	font-size: 18pt;
	color: #B70404;
	font-family: "Raleway Thin", sans-serif;
}

.kotakLogin{
	background: #009D73;
	border-radius: 8pt;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 400px;
	margin: 60px auto 60px auto;
	width: 400px;
	padding: 12px 44px;
}

.title{
	font-family: "Raleway Thin", sans-serif;
	font-size: 20px;
	letter-spacing: 4px;
	padding-bottom: 23px;
	padding-top: 13px;
	text-align: center;
	color: white;
}

.underline{
	background: #FDB827;
	height: 2px;
	margin: -20px auto 0 auto;
	width: 89px;
}

.form{
	align-items: left;
	display: flex;
	flex-direction: column;
}

.formBorder{
	background: #FDB827;
	height: 1px;
	width: 100%;
}

.formContent{
	background: #FFFFFF;
	border: none;
	outline: none;
	padding-top: 14px;
}

.forgotPass{
  color: #11468F;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

.submitBtn {
  background: #E62129;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #C51605;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  letter-spacing: 1pt;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}